/* Write your styles */

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Microsoft Yahei Light';
	color: #989898;
	background: #fff;
}

header {
	background: #5ac0de;
}

header .logo {
	background: url(../i/logo.png) no-repeat top;
	-moz-background-size: 68%;
	-webkit-background-size: 68%;
	-o-background-size: 68%;
	background-size: 68%;
	display: block;
	width: 100%;
	height: 100%;
}

header {
	height: 350px;
	width: 100%;
	max-width: 750px;
	background-image: url(../i/cloud.png);
	background-repeat: repeat-x;
	-webkit-background-size: 560px 102px;
	-moz-background-size: 560px 102px;
	background-size: 560px 102px;
	-webkit-animation: cloud 10s linear infinite;
	-o-animation: cloud 10s linear infinite;
	position: relative
}

header:before {
	content: '';
	position: absolute;
	padding-bottom: 20px;
	left: 245px;
	bottom: 50px;
	background: url(../i/f.png) no-repeat;
	width: 60px;
	height: 34px;
	-webkit-background-size: 60px 34px;
	-moz-background-size: 60px 34px;
	background-size: 60px 34px
}

header .f2 {
	content: '';
	position: absolute;
	padding-bottom: 20px;
	left: 445px;
	bottom: 50px;
	background: url(../i/f2.png) no-repeat;
	width: 100px;
	height: 34px;
	-webkit-background-size: 100px 34px;
	-moz-background-size: 60px 34px;
	background-size: 100px 34px
}


/*#head:before{content:'';left:-61px;-webkit-animation:cloud2 2s 1s ease 1 forwards;-o-animation:cloud2 2s 1s ease 1 forwards}*/

header:after {
	content: '';
	background-repeat: repeat-x;
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 350px;
	background-image: url(../i/cloud2.png);
	-webkit-background-size: 560px 83px;
	-moz-background-size: 560px 83px;
	background-size: 560px 83px;
	-webkit-animation: cloud 5s linear infinite;
	-o-animation: cloud 5s linear infinite
}

@-webkit-keyframes cloud {
	from {
		background-position: 560px bottom
	}
	to {
		background-position: 0 bottom
	}
}

@-webkit-keyframes cloud2 {
	100% {
		-webkit-transform: translateX(560px)
	}
}


/*header*/

ul.am-nav.am-nav-pills.am-nav-justify {
	background: #61aad8;
	max-width: 750px;
}

.am-nav-pills>li+li {
	margin: 0;
}

.am-nav-justify>li>a {
	height: 86px;
	font-size: 38px;
	font-family: "寰蒋闆呴粦";
}

.am-nav>li>a {
	padding: 10% 0px 0px 0px;
	color: #fff;
}

.am-nav>li>a:hover,
.am-nav>li>a:focus {
	background-color: #6FB5F0;
}

.am-nav>li.am-active>a,
.am-nav>li.am-active>a:focus,
.am-nav>li.am-active>a:hover {
	background-color: #6FB5F0;
}

.font {
	position: relative;
	margin: 0 3%;
}

.font img {
	width: 100%;
}

.font .p1 {
	font-size: 40px;
	padding-top: 36px;
	text-align: center;
	letter-spacing: -2px;
	margin-bottom: 0px;
}

.font p {
	font-size: 23px;
	margin-top: 1.4rem;
	letter-spacing: -2px;
}

hr.am-divider.am-divider-default.am-no-layout {
	margin: 0px;
}

.font .line {
	position: absolute;
	top: 90px;
	text-align: center;
	width: 10%;
	left: 45%;
	background: #fff;
	padding: 0 10px;
}

img.lazy.am-thumbnail.am-circle {
	width: 125px;
	height: 125px;
	margin: 0 auto;
}

.am-container .main {
	max-width: 750px;
}

.am-container {
	max-width: 750px;
	padding: 0px;
}

.am-btn-group .am-btn-primary {
	border: none;
	background-color: #61aad8;
}

.am-thumbnail {
	border: 0;
	margin: 0;
	padding: 0;
}

.shop_img .am-thumbnail {
	padding: 2px;
}

ul.am-avg-sm-5.am-thumbnails {
	padding-top: 5px;
}

#line {
	background-color: #fff;
}

#line hr {
	margin-top: 48px;
	border: 3px solid #ddd;
}


/*.am-thumbnails{margin: 0;}*/

.main {
	background: #fff;
	padding-bottom: 12px;
}

.main ul li p {
	margin-top: 5px;
	text-align: center;
	margin-bottom: 4px;
	font-size: 25px;
}

.main ul {
	border: 0px solid #ddd;
	margin: 0;
}

.main ul li {
	padding: 25px 10px 11px 10px;
	border: 0px solid #ddd;
}

.shop_more {
	height: 72px;
	background: url(../i/more.png) no-repeat center;
}

.more {
	height: 89px;
	background: url(../i/more.png) no-repeat center;
	background-color: #fff;
}

.mainfooter {
	padding-bottom: 150px;
	padding-top: 10px;
}

.mainfooter p {
	text-align: center;
	font-size: 40px;
	margin-bottom: 0px;
}

.mainfooter .img {
	width: 339px;
	height: 20px;
	background: url(../i/english.png)no-repeat center;
}

.mainfooter {
	font-family: 'fzlantingheis-ul-gbregular';
	color: #585858;
}


/*.footer{padding-top: 50px; padding-bottom: 50px;}*/

.footer {
	width: 750px;
	position: fixed;
	left: 50%;
	bottom: 0;
	margin-left: -375px;
	z-index: 4;
}

.footer1 {
	padding-left: 2px;
	padding-top: 2px;
	background: #ddd;
}

.footer1 li {
	border-right: solid 2px #ddd;
	background: #fff;
}

.footer1 li img {
	width: 100%;
}

.am-thumbnails>li {
	padding: 0;
}

.footer2 li {
	height: 80px;
	width: 25%;
	background-color: #fff;
	border-right: solid 2px #ddd;
}

.footer2 {
	padding: 2px 0px 2px 2px;
	background: #ddd;
}

.footer2 div {
	height: 105px;
	background-color: #fff;
	border-right: solid 2px #ddd;
}

.footer2 .am-g div {
	padding: 0;
}

.main2 {
	background-color: #fff;
}

.main2 .p1 {
	padding-top: 36px;
}

.main2 .font .line {
	position: absolute;
	top: 89px;
	text-align: center;
	width: 10%;
	left: 45%;
	background: #fff;
	padding: 0 10px;
}

.main2 .am-thumbnails {
	margin: 0;
}

.main2 ul {
	margin-left: -4px;
}

.main2 ul li {
	padding-left: 4px;
}

.main2 ul li p {
	font-size: 22px;
	margin-top: 2px;
	margin-bottom: 14px;
	text-align: center;
}

.main3 .p1 {
	padding-top: 19px;
}

.main3 .font p {
	margin-bottom: 2px;
}

.main3 .font .line {
	position: absolute;
	top: 72px;
	text-align: center;
	width: 10%;
	left: 45%;
	background: #fff;
	padding: 0 10px;
}

.main3 ul {
	margin: 0 3%;
}

.main3 ul li {
	/*padding: 5px; */
	padding-top: 5px;
	padding-right: 4px;
}

.main4 .p1 {
	padding-top: 19px;
}

.main4 h3 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-bottom: 2px solid #999;
	color: #555;
	font-size: 1.1em;
	padding-bottom: 5px;
}

.main4 h3 i {
	font-size: 0.3em;
	color: #999;
}

.main4 ul {
	margin-left: -4px;
}

.main4 ul li {
	padding-left: 4px;
}

.main4 ul li p {
	font-size: 22px;
	margin-top: 2px;
	margin-bottom: 14px;
	text-align: center;
}

.main4 .font .line {
	position: absolute;
	top: 72px;
	text-align: center;
	width: 10%;
	left: 45%;
	background: #fff;
	padding: 0 10px;
}

.acvitity_img {
	padding-top: 40px;
	/*padding-left: 0.2rem;padding-right: 0.2rem;*/
}

#on {
	height: 89px;
	background: url(../i/more.png) no-repeat center;
	background-color: #fff
}

.Xian .line {
	position: absolute;
	bottom: 260px;
	text-align: center;
	width: 10%;
	left: 45%;
	color: #5A9FCA;
	background: #fff;
	font-weight: bold;
}


/** header footer  index end! **/

.activity_main .photography .am-thumbnails {
	font-size: 25px;
}

.activity_main_img {
	width: 750px;
	height: 100%;
}

.activity_main_rice {}

legend {
	margin: 0;
	padding-top: 10px;
	text-align: center;
	font-size: 40px;
}

.am-form {
	font-size: 30px;
}

.am-form span {
	margin: 0;
	padding-left: 12px;
}

.am-form hr {
	margin-bottom: 7px;
}

.photography .am-form-group {
	margin-bottom: 0;
}

.photography ul {
	margin: 0px 5px 5px 17px
}

.photography ul li input {
	margin-top: 12px;
}

.activity_main_click {
	width: 626px;
	height: 78px;
	margin-top: 20px;
}


/** activity end! **/

.shop_main .img {
	max-width: 100%;
	padding-top: 20px;
}

.shop_img {
	margin-left: 2.4rem;
	margin-right: 2.4rem;
}

.shop_img .am-thumbnails {
	margin-right: 0;
}

.english {
	margin-bottom: 40px;
	margin-top: 20px;
	width: 339px;
	height: 20px;
	background: url(../i/english.png)no-repeat center;
}

.image {
	max-width: 480px;
	padding: 0;
}

.photoname {
	background: url(../i/shop/photoname_bg.jpg)no-repeat center 72%;
}

.XM .p1 {
	margin-bottom: 20px;
}

.XM h1 {
	font-size: 5.5em;
	font-weight: normal;
	line-height: 5.5rem;
	margin: 0px;
	padding-top: 29%;
}

.XM .am-g {
	border-bottom: 1px solid #d3d3d3;
	border-top: 1px solid #d3d3d3;
	margin-top: 5px;
}

.am-u-sm-4.am-u-md-4.am-u-lg-4.photoname {
	text-align: center;
	height: 294px;
	width: 270px;
	padding: 0;
}

.am-u-sm-4.am-u-md-4.am-u-lg-4.photoname p {
	margin-top: 0.4rem;
}

.image1 {
	max-width: 100%;
}

.image2 {
	width: 271px;
	height: 295px;
	background: url(../i/shop/02.jpg)no-repeat center;
}

.image3 {
	width: 271px;
	height: 295px;
	background: url(../i/shop/03.jpg)no-repeat center;
}

.image4 {
	width: 271px;
	height: 295px;
	background: url(../i/shop/04.jpg)no-repeat center;
}

.image5 {
	width: 271px;
	height: 295px;
	background: url(../i/shop/05.jpg)no-repeat center;
}

.XM {
	padding-top: 5px;
	width: 100%;
	margin: 0;
}


/** shop end! **/

.brand_main .font .line {
	position: absolute;
	top: 65px;
	text-align: center;
	width: 10%;
	left: 45%;
	background: #fff;
	padding: 0 10px;
}

.brand_main .font .p1 {
	font-size: 40px;
	padding-top: 12px;
	text-align: center;
	letter-spacing: -2px;
	margin-bottom: 0px;
}

.brand_main {
	padding-bottom: 0;
}

.img1 img {
	max-width: 100%;
	margin-left: 26.5px;
}

.img2 img {
	max-width: 100%;
	margin-top: 20px;
}

.img3 img {
	max-width: 100%;
	margin-top: 20px;
}


/** brand end! **/

.photo_page1 .font .p1 {
	padding-top: 18px
}

.photo_page2 .font .p1 {
	padding-top: 0px;
	margin-bottom: 1.4rem;
}

.photo_page1 img {
	padding-top: 30px;
	padding-bottom: 15px;
}

.photo_page2 img {
	padding-left: 4%;
	padding-bottom: 25px;
}


/**photo_page1 and photo_page2 end!! **/

#submit {
	background: url(../i/join/left.jpg)no-repeat center;
	margin-left: 65px;
	width: 256px;
	height: 72px;
}

.activity_main_click input {
	background: url(../i/acvitity_click.jpg)no-repeat center;
	margin-left: 65px;
	width: 626px;
	height: 78px;
	margin-left: 0px;
	border: 0px;
}

#tel {
	background: url(../i/join/right.jpg)no-repeat center;
	width: 256px;
	height: 72px;
	display: block;
}

.table {
	margin-top: 30px;
	width: 710px;
	border: 10px solid #ddd;
}

.table input,
textarea {
	margin-top: 5px;
}

.table ul {
	padding-bottom: 40px;
	padding-top: 10px;
}

.table #submit {
	border: 0;
	margin-top: 0;
}

.table .font .p1 {
	font-size: 46px;
	line-height: 58px;
}

.table .am-form-group {
	margin-top: 20px;
}

.table label.am-u-sm-3 {
	font-weight: inherit;
	font-size: 24px;
	padding: 0px;
	text-align: right;
}

.table input.am-input-lg,
textarea#doc-ta-1 {
	width: 89%;
	line-height: 2;
}


/** join end! **/

.photo_page1 img {
	width: 100%;
}