<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.jjxx.modules.sys.mapper.UserMapper" >

  <resultMap id="BaseResultMap" type="cn.jjxx.modules.sys.entity.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="realname" property="realname" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="portrait" property="portrait" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="salt" property="salt" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="org_id" property="orgId" jdbcType="VARCHAR" />
    <result column="orgName" property="orgName" jdbcType="VARCHAR" />
    <result column="morg_id" property="morgId" jdbcType="VARCHAR" />
    <result column="morgName" property="morgName" jdbcType="VARCHAR" />
    <result column="staff_id" property="staffId" jdbcType="VARCHAR" />
    <result column="staffName" property="staffName" jdbcType="VARCHAR" />
    <result column="oldStaffId" property="oldStaffId" jdbcType="VARCHAR" />
    <result column="admin_type" property="adminType" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    DISTINCT
    t.id, 
    t.realname, 
    t.username, 
    t.portrait, 
    t.password, 
    t.salt, 
    t.email, 
    t.phone, 
    t.status,
    t.type,
    t.org_id,
    p.name as orgName,
    t.morg_id,
    m.name as morgName,
    t.staff_id,
    sf.name as staffName,
    t.staff_id as oldStaffId,
    t.admin_type
  </sql>
  
  <sql id="userOrganizationJoins">
		 LEFT JOIN sys_user_organization uo on t.id=uo.user_id 
  </sql>
  
  <sql id="parentJoins">
		 LEFT JOIN sys_organization p ON p.id = t.org_id
  </sql>
  
  <sql id="parentJoins2">
		 LEFT JOIN sys_organization m ON m.id = t.morg_id
  </sql>
  
  <sql id="staffJoins">
		 LEFT JOIN sys_staff sf ON sf.id = t.staff_id
  </sql>
  
  <select id="selectUserList" resultMap="BaseResultMap">
	  select 
   	    <include refid="Base_Column_List" />
      from sys_user t 
      <include refid="userOrganizationJoins"/>
      <include refid="parentJoins"/>
      <include refid="parentJoins2"/>
      <include refid="staffJoins"/>
       <if test="ew.sqlSegment != '' and ew.sqlSegment != null">  
		  <where>
		    ${ew.sqlSegment} 
		  </where>
	   </if> 
  </select>
  
   <select id="selectUserById"   parameterType="java.lang.String" resultMap="BaseResultMap">
	  select 
   	    <include refid="Base_Column_List" />
      from sys_user t 
      <include refid="userOrganizationJoins"/>
      <include refid="parentJoins"/>
      <include refid="parentJoins2"/>
      <include refid="staffJoins"/>
	   where t.id = #{id}	
  </select>
  
</mapper>